.GamePage {
  background: var(--color-background);

  &__tools {
    position: absolute;
    right: 24px;
    top: 24px;

    svg {
      * {
        stroke: var(--color-text) !important;
      }
    }
  }
}
