.Game {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  &__info {
    margin-top: 20px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
