@import "src/styles/variables";

.Button {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  background: var(--color-default-button-bg);
  color: var(--color-default-button-color);
  border-radius: 15px;
  cursor: pointer;
  transition: transform $short-effect;
  outline: none;
  will-change: transform;
  border: none;
  padding: 12px 25px;
  line-height: 1;

  &--primary {
    background: var(--color-primary);
    color: var(--color-background);
  }

  &--outlined {
    background: transparent;
    border: 2px solid var(--color-primary);
    color: var(--color-primary);
  }

  &--small {
    padding: 12px 20px;
    font-size: 14px;
  }

  &--large {
    padding: 15px 30px;
  }

  &--block {
    display: block;
    width: 100%;
  }

  &:hover {
    transform: scale(0.99) translateY(2px);
  }

  &:active {
    transform: scale(0.97) translateY(3px);
  }
}
