.ForumPage {
  margin-bottom: 100px;

  h1 {
    font-size: 20px;
    margin-bottom: 50px;
    text-transform: uppercase;
    font-weight: 700;
  }

  h2 {
    font-size: 16px;
    margin-bottom: 30px;
    font-weight: 400;
    color: #bdbdbd;
    text-transform: uppercase;
    border-bottom: 1px solid #bdbdbd;
    padding: 10px 0;
  }

  &__form-wrap {
    margin-bottom: 50px;
  }
}
