@import '../../styles/variables';

.Header {
  &__nav-list {
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__nav-item {
    a {
      color: $grey-light;
      font-size: 20px;
      font-weight: 700;
      text-transform: uppercase;
      transition: opacity $short-effect;
      text-decoration: none;

      &:hover {
        text-decoration: none;
        opacity: 0.64;
      }
    }

    &--root a {
      color: $yellow;
      font-size: 30px;
    }
  }
}
