@import "src/styles/variables";

.Input {
  &__label {
    display: block;
    font-size: 14px;
    color: #bdbdbd;
    font-weight: 400;
    margin-bottom: 8px;
  }

  &__control {
    background: rgba(#ffffff, 0.05);
    border: 1px solid var(--color-input-border);
    height: 46px;
    border-radius: 4px;
    color: var(--color-text);
    font-size: 16px;
    padding: 5px 10px;
    font-weight: 400;
    outline: 0;
    transition: 0.25s border-color ease;

    &:focus {
      border-color: var(--color-input-border-focus);
    }

    &::placeholder {
      color: rgba(var(--color-text), 0.5);
    }
  }
}
