@import "src/styles/variables";

.Sidebar {
  height: 100%;
  width: $sidebar-width;
  background-color: var(--color-sidebar-bg);
  display: flex;
  padding: 24px 10px;
  flex-direction: column;
  overflow: auto;

  &__navigation {
    flex: 1;
  }

  &__nav-list {
    li {
      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }

    a.active {
      opacity: 1;
      color: var(--color-primary);
    }
  }

  .icon-button,
  .icon-link {
    display: block;
    color: var(--color-sidebar-icon);
    width: 40px;
    height: 40px;
  }

  .icon-link-help {
    path {
      fill: var(--color-sidebar-icon);
    }
  }
}

.icon-link,
.icon-button {
  opacity: 0.5;
  transition: 0.25s ease;

  &:hover {
    opacity: 0.8;
  }
}
