@import './styles/reset';
@import './styles/fonts';
@import './styles/variables.scss';

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

#root,
html,
body {
  height: 100%;
}

body {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: $white;
  background: $grey-dark;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 1400px;
  margin: auto;
}

.container-fluid {
  width: 100%;
}

.container,
.container-fluid {
  width: 100%;
  padding: 0 10px;
}

h1 {
  font-size: 28px;
}

button {
  font-family: 'Ubuntu', sans-serif;
  background: none;
  border: none;
  display: inline-block;
  cursor: pointer;
  padding: 0;
  outline: 0;
}

.error {
  color: red;
}

.modals-wrapper {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.3s linear all;

  &.active {
    opacity: 1;
    pointer-events: all;
  }
}

.modal {
  position: relative;

  .close-button {
    position: absolute;
    right: 5px;
    top: 5px;
    cursor: pointer;
  }
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  outline: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.profile-form {
  .Input {
    margin-bottom: 24px;

    &__control {
      width: 100%;
      max-width: 460px;
    }
  }
}
